.mainContainer{
    display: flex;
    margin: 0;
    padding: 0;
}

.sideBarContainer{
height: 100vh;
width: 200px;
box-shadow: inset;
display: flex;

justify-content: center;

}

.contentContainer{
    width: 100%;
    height: 100vh;
    overflow-y: auto;
}
