/* ForgotPassword.css */
.forgotPasswordContainer {
    position: relative;
    background-image: url("../../assets/PLSPbg.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
  }
  
  .forgotPasswordContainer::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw; 
  height: 110vh;
  background-image: url("../../assets/PLSPbg.jpg");
  background-size: 100% 110%;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 1;
  }
  
  .forgotPasswordForm {
    position: relative; /* Ensures the form stays above the background */
    z-index: 2; /* Keeps the form above the background */
    width: 100%;
    max-width: 400px;
    color: darkgreen;
    background-color: rgba(255, 255, 255, 0.9); /* Slight translucent white background */
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin-bottom: 10%;
  }
  
  .forgotPasswordTitle {
    margin-bottom: 20px;
  }
  
  .forgotPasswordAlert {
    width: 100%;
    margin-bottom: 15px;
  }
  
  .button{
    background-color: darkolivegreen;
  }